@model ProductsModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<
<h1>CreateProduct</h1>
<h1>@Model.Name</h1>
<h1>@Model.Size</h1>
<h1>@Model.Image</h1>
<h1>@Model.OrderTreshold</h1>
<h1>@Model.OrderQuantity</h1>
<h1>@Model.CreatedDateTime</h1>


